<header>
    <app-navbar></app-navbar>
</header>
<div class="container d-flex align-items-center justify-content-center flex-wrap">
    <div class="section-title">
        <h1>Our Team</h1>
    </div>

    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="../../assets/som.jpg" alt="soumendra">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Soumendra Kumar Sahoo</h3>
                    <h3 class="text-white fs-5">Team Leader</h3>
                    <p class="fs-6 text-white"> Managed the backend and data-analysis.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="../../assets/me.jpg" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Kajal Kumari</h3>
                    <h3 class="text-white fs-5">Team Member 1</h3>
                    <p class="fs-6 text-white">Helped in resource collection and managed the frontend part.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="../../assets/hashir.jpg" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Md. Hashir Imteyaz</h3>
                    <h3 class="text-white fs-5">Team Member 2</h3>
                    <p class="fs-6 text-white">Managed graphical part and frontend.</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="../../assets/khushi.jpg" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Khushi Kumari</h3>
                    <h3 class="text-white fs-5">Team Member 2</h3>
                    <p class="fs-6 text-white">Managed graphical part and frontend.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="../../assets/images.png" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Alok Kumar</h3>
                    <h3 class="text-white fs-5">Team Member 3</h3>
                    <p class="fs-6 text-white">Helped in designing various sections available on frontend part.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="../../assets/nikku.jpg" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Nickey Kumari</h3>
                    <h3 class="text-white fs-5">Team Member 3</h3>
                    <p class="fs-6 text-white">Helped in designing various sections available on frontend part.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="../../assets/akhlesh.jpg" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Aklesh Kumar Choudhury</h3>
                    <h3 class="text-white fs-5">Team Member 4</h3>
                    <p class="fs-6 text-white">Helped in backend and project ppt.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="../../assets/khushi.jpg" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Khushi Kumari</h3>
                    <h3 class="text-white fs-5">Team Member 5</h3>
                    <p class="fs-6 text-white">Designed the homepage and resource management.</p>
                </div>
            </div>
        </div>
    </div> -->
</div>