body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    /* background: greenyellow; */
    /* background: #4b6cb7;
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    background: linear-gradient(to right, #182848, #4b6cb7); */
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

nav {
    background: #0056b3;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 2em;
    padding: 0 1em;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.content {
    padding: 2em;
}

h1,
h2 {
    color: #084c69;
    font-size: 30px;
    font-weight: 800;
}

p {
    margin: 1em 0;
}

ul {
    margin: 1em 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 0.5em;
}

.image-container {
    text-align: center;
    margin: 2em 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background: grey;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

.case-studies {
    background: #eef4ff;
    padding: 2em;
    margin: 2em 0;
    border-radius: 8px;
}

.contact-form {
    background: #f9f9f9;
    padding: 2em;
    margin: 2em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 0.75em 1.5em;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #0056b3;
}