.card {
    margin: 2em auto;
    padding: 1em;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.content {
    padding: 15px;
}



.content1 {
    min-height: 240px;
}

.text-center {
    text-align: center;
}

.author {
    text-align: center;
    text-transform: none;
    /* margin-top: -70px; */
}

.border-gray {
    border-color: #eee;
}
.avatar {
    width: 124px;
    height: 124px;
    border: 5px solid #fff;
    position: relative;
    /* margin-bottom: 15px; */
    overflow: hidden;
    border-radius: 50%;
    /* margin-right: 5px; */
}


.profile-container {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.profile-container div:last-child h2 {
    width: 100%;
    text-align: center;
    border-block: 1px solid #ccc;
    
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

app-modal input {
    display: block;
    outline: none;
    width: 100%;
    font-size: medium;
    border: 1px solid var(--secondary-sky);
    border-radius: 0.5rem;
    padding: 0.5rem 0.2rem;
    font-family: "Madimi One", sans-serif;
}

app-modal .button-group {
    padding-block: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* app-modal .button-group button {
    border: none;
    background-color: var(--secondary-purple);
    box-shadow: 5px 5px 5px var(--primary-shadow);
    color: var(--primary-white);
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.3rem 1.5rem;
    border-radius: 0.5rem;
    font-size: small;
} */
