<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h2 style="text-align: center; background: #4b6cb7;
                    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
                    background: linear-gradient(to right, #182848, #4b6cb7);
                    color: var(--primary-white); border-radius: 8px;
                    font-size: 2rem;">Personal Detalis</h2>
                </div>
                <div class="content">
                    <form method="post" (submit)="onUpdate()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name"><b>Name</b></label>
                                    <input class="form-control" disabled name="accountHolderName"
                                        placeholder="Soumendra" type="text" [(ngModel)]="account.accountHolderName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email"><b>Email</b></label>
                                    <input class="form-control" disabled placeholder="example@gmail.com" type="email"
                                        name="accountEmail" [(ngModel)]="account.accountEmail">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name"><b>Account type</b></label>
                                    <input class="form-control" type="text" disabled name="accountType"
                                        [(ngModel)]="account.accountType">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><b>Mobile number</b></label>
                                    <input class="form-control" placeholder="9087654321" maxlength="10" minlength="0"
                                        type="text" name="contactNumber" [(ngModel)]="account.contactNumber" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label><b>State</b></label>
                                    <input class="form-control" placeholder="Odisha" type="text" name="state"
                                        [(ngModel)]="account.state" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label><b>City</b></label>
                                    <input class="form-control" placeholder="Bhubaneswar" type="text" name="city"
                                        [(ngModel)]="account.city" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label><b>Pin Code</b></label>
                                    <input class="form-control" placeholder="751016" type="text" maxlength="6"
                                        name="zipcode" [(ngModel)]="account.zipcode" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name"><b>About Customer</b></label>
                                    <textarea class="form-control" name="aboutCustomer" cols="30" rows="3"
                                        placeholder="Loyal customer" [(ngModel)]="account.aboutCustomer"
                                        required></textarea>
                                </div>
                            </div>
                        </div>
                        <input style="margin-left: 35%;" class="btn btn-primary" type="submit" value="Update">

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="profile-container">
                    <div>
                        <img #profilePic [src]="profilePicture" alt="no img" role="button" title="edit"
                            (click)="modalVisible = !modalVisible" (error)="alternativeImage(profilePic)" />

                        <strong>{{account.accountHolderName}}</strong>
                        <p><i class="fa-solid fa-file-invoice"></i> {{account.accountNumber}}</p>
                        <p><i class="fa fa-wallet"></i> {{ account.accountBalance| currency : "INR" }}</p>
                        <p><i class="fa fa-phone"></i> {{account.contactNumber}}</p>
                        <p><i class="fa fa-envelope"></i> {{account.accountEmail}}</p>
                    </div>
                    <div>
                        <h5>About</h5>
                        <p>{{account.aboutCustomer}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</div>
<app-modal *ngIf="modalVisible" [header]="'Profile picture'">
    <form method="post" #imageForm (submit)="onImageSubmit(imageForm)">
        <input type="file" (change)="onUpload($event)" />
        <div class="button-group">
            <button type="submit" class="btn btn-success">Upload</button>
            <button type="button" class="btn btn-danger" (click)="modalVisible = !modalVisible">
                Cancel
            </button>
        </div>
    </form>
</app-modal>
<app-toast *ngIf="toastVisible" [heading]="toastHeading" [description]="toastDescription">
</app-toast>