/* complaint-view.component.css */
.container {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    /* font-family: Arial, sans-serif; */
    border-radius: 8px;
    text-align: center; background: #4b6cb7;
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    background: linear-gradient(to right, #182848, #4b6cb7);
    color: var(--primary-white);
    font-size: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.75em;
    text-align: left;
}

th {
    background: #f4f4f4;
}

button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.form-container {
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}
