header {
    background-image: url(../../assets/final_bg.jpg);
    background-size: cover;
    /* height: 44rem; */
    position: fixed;
    width: 100%;
}

.my-auto {
    margin-bottom: auto !important;
    margin-top: auto !important;
}

.display-3 {
    font-weight: 700;
    line-height: 1;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}