<app-navbar></app-navbar>
<header>
	<div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0">
		<div class="container my-auto">
			<div class="row justify-content-center">
				<div class="col-12 col-md-8 col-lg-6 text-center">
					<h1 class="display-3 text-white mb-4">DROP BY DROP</h1>
					<p class="text-center text-white-75 mb-7" style="color: white;">
						"Every Drop Counts, Minimize The NRW"
					</p>
					<a class="btn btn-outline-primary text-white text-primary-hover mb-7 mb-md-0" routerLink="/login">
						User LogIn/SignUp
					</a>
				</div>
			</div>
		</div>
	</div>
</header>