<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            <i class="fa-solid fa-bars"></i>
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            <i class="fa-solid fa-circle-xmark"></i>
        </mat-icon>
    </button>
    DROP BY DROP
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <img class="avatar mat-elevation-z8" src="../../assets/images.png" />

        <h4 class="name">{{account.accountHolderName}}</h4>
        <p class="designation">{{account.accountNumber}}</p>

        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="tabChange('dashboard')">
            <!-- <mat-icon><i class="fa-solid fa-house"></i></mat-icon> -->
            <i class="fas fa-tachometer-alt"></i> Dashboard
        </button>
        <!-- <button mat-button class="menu-button" (click)="tabChange('waterusage')">
           
            <i class="fas fa-tint"></i> Water Usage
        </button> -->
        <button mat-button class="menu-button" (click)="tabChange('paybill')">
            <!-- <mat-icon>info</mat-icon> -->
            <i class="fas fa-money-check"></i> Wallet
        </button>
        <button mat-button class="menu-button" (click)="tabChange('complaint')">
            <!-- <mat-icon>info</mat-icon> -->
            <i class="fa-solid fa-comment"></i> Complaint
        </button>
        <button mat-button class="menu-button" (click)="tabChange('profile')">
            <!-- <mat-icon>person</mat-icon> -->
            <i class="fas fa-user"></i> Profile
        </button>
        <!-- temporarily removed -->
        <!-- <button mat-button class="menu-button" (click)="tabChange('contribute')">
            <i class="fa-solid fa-bell"></i> Contribute
        </button> -->
        <button mat-button class="menu-button" (click)="tabChange('about')">
            <!-- <mat-icon>info</mat-icon> -->
            <i class="fa-solid fa-circle-info"></i> About
        </button>
        <button mat-button class="menu-button" (click)="onLogout()">
            <!-- <mat-icon>help</mat-icon> -->
            <i class="fas fa-right-from-bracket"></i> Logout
        </button>



    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <app-dashboard *ngIf="page === 'dashboard'"></app-dashboard>
            <!-- <app-water-usage *ngIf="page === 'waterusage'"></app-water-usage> -->
            <app-paybill *ngIf="page === 'paybill'"></app-paybill>
            <app-complaint *ngIf="page === 'complaint'"></app-complaint>
            <app-profile *ngIf="page === 'profile'"></app-profile>
            <!-- <app-contribute *ngIf="page == 'contribute'"></app-contribute> -->
            <app-about *ngIf="page === 'about'"></app-about>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>