<header>
    <app-navbar></app-navbar>
</header>
<section class="service-grid pb-5 pt-5">
    <div class="container" style="font-family: 'Times New Roman', Times, serif;">
        <div class="row">
            <div class="col-xl-12 text-center mb-4">
                <div class="service-title">
                    <h1>OUR SERVICES</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>

                    <h3>Revenue By Location</h3>
                    <p>
                        After signin in our website, service providers of different
                        localities can see the revenue generated in their respective
                        areas.It also enables the service providers to differentiate between
                        wealthy and mediocre societies.
                    </p>
                    <a routerLink="/login">
                        <button>Login for more</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="fas fa-money-check"></i>
                    </div>
                    <h3>Revenue Analysis</h3>
                    <p>
                        Service providers can compare their revenue
                        generated in the present week with the revenue generated in the
                        previous week.Thereby helps them in monitoring the cause for lower revenue
                        generated like leakages and unauthorized thefting.
                    </p>
                    <a routerLink="/login">
                        <button>Login for more</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="fa fa-bell"></i>
                    </div>
                    <h3>Alerts for Leakage Detection</h3>
                    <p>
                        The service provider can set the limit for NRW and according to
                        the amount of water they supplied and revenue generated if the
                        calculated limit exceeds then we send alerts to the service
                        provider for leakage detection.Thereby helps them in lowering the NRW.
                    </p>
                    <a routerLink="/login">
                        <button>Login for more</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



