<header>
    <app-navbar></app-navbar>
</header>

<div class="container">
    <div class="row">
        <div class="form-header">
            <h2>SIGN UP</h2>
        </div>
        <div class="form-body">
            <form method="post" #signupform="ngForm" (submit)="onSubmit(signupform)">
                <select name="accountType" ngModel="DOMESTIC">
                    <option value="DOMESTIC">DOMESTIC</option>
                    <option value="COMMERCIAL">COMMERCIAL</option>
                </select>
                <input type="text" placeholder="Full name" name="accountHolderName" required ngModel />
                <input type="email" placeholder="Email" name="accountEmail" required ngModel />
                <input type="text" placeholder="Address" name="accountaddress" required ngModel />
                <input type="text" placeholder="Area" name="accountarea" required ngModel />
                <input type="text" placeholder="Pincode" name="accountpincode" required ngModel />
                <input type="password" placeholder="Password" name="accountPassword" required ngModel />
                <input type="text" placeholder="Mobile number" name="contactNumber" required ngModel />
                <input type="submit" value="Sign up" class="btn btn-success" [disabled]="!signupform.valid">
            </form>
        </div>
        <div class="form-footer">
            <p>Already have an account?</p>
            <a routerLink="/login">Login</a>
        </div>
    </div>

</div>


<app-toast *ngIf="toastVisible" [heading]="toastHeading" [description]="toastDescription"></app-toast>